{% extends 'scm/master.html' %}
{% block title %}Admin Add Event{%endblock%}

{% block body%}
<div class="conatiner">

    <div class="row">
        <div class="col-md-6 col-xl-6 col-lg-6 mx-auto">
<form method="POST" action="db_add_event">
    {% csrf_token%}
    <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="ename"  requirede>

    </div>
    <div class="form-group">
    <label for="date">Date</label>
    <input type="date" class="form-control" id="date" name="edate"  min="{{date}}" requirede>

    </div>
    <div class="form-group">
    <label for="time">Time</label>
    <input type="time" class="form-control" id="time" name="etime"  requirede>

    </div>
    <div class="form-group">
    <label for="dur"> Duration(Hours)</label>
    <input type="text" class="form-control" id="dur" name="eduration"  requirede>

    </div>



  <button type="submit" class="btn btn-primary">Submit</button>
</form>
        </div>
    </div>
</div>


{% endblock%}
