{% extends 'scm/master.html' %}
{% block title %}Admin Homepage{%endblock%}

{% block body%}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Contact</th>
                </tr>
                </thead>
                <tbody>
                    {% for x in data %}
                    <tr>
                        <td>{{x.name}}</td>
                        <td>{{x.date}}</td>
                        <td>{{x.time}}</td>
                        <td>{{x.mobile}}</td>
                    </tr>
                    {% endfor%}
                </tbody>

            </table>
        </div>
    </div>
</div>

{% endblock %}
