
</html>{% extends 'scm/master.html' %}
{% block title %}Enter OTP{%endblock%}

{% block body%}
<div class="conatiner">
    <div class="row">
        <div class="col-md-6 col-xl-6 col-lg-6 mx-auto">


            {{msg}}
<form method="POST" action="otp_check">
    {% csrf_token%}
    <input type="hidden" value={{email}} name="emailid">
    <input type="hidden" value="{{otp}}" name="myotp">
    <div class="form-group">
    <label for="otp">Enter OTP</label>
    <input type="text" class="form-control" id="otp" name="otp">

    </div>





  <button type="submit" class="btn btn-primary">Verify</button>

</form>
        </div>
    </div>
</div>


{% endblock%}
