<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid bg-warning ">
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <h1 class=" text-center text-white">......WELLCOME SPORT CLUB MANAGEMENT........</h1>
        </div>
    </div>
</div>
<!....nav bar....>
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" href="#">SCM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/scmapp/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="user_reg">UserRegistration</a>
      </li>
         {% if 'u_name' not in request.session %}
        <li class="nav-item">
        <a class="nav-link " href="user_login">UserLogin</a>
      </li>
         {% else %}
        <li class="nav-item">
        <a class="nav-link  btn btn-danger" href="user_logout">UserLogout</a>
        {% endif %}
        {% if 'a_name' not in request.session %}
        <li class="nav-item">
        <a class="nav-link " href="admin_login_page">AdminLogin</a>
      </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link  btn btn-danger" href="admin_logout">AdminLogout</a>
        {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{% block body%}

{% endblock%}

<!....footer.....>
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <h2 class="text-primary text-center">......Copy Right @Amrendraraj 2022........</h2>
        </div>
    </div>
</div>
</body>
</html>