
</html>{% extends 'scm/master.html' %}
{% block title %}Enter OTP{%endblock%}

{% block body%}
<div class="conatiner">
    <div class="row">
        <div class="col-md-6 col-xl-6 col-lg-6 mx-auto">

<form method="POST" action="update_pass">
    {% csrf_token%}
    <input type="hidden" value={{email}} name="emailid">
    <div class="form-group">
    <label for="email">Enter New Password</label>
    <input type="text" class="form-control" id="email" name="pass">

    </div>





  <button type="submit" class="btn btn-primary">Submit</button>

</form>
        </div>
    </div>
</div>


{% endblock%}
