

{% extends 'scm/master.html' %}
{% block title %}User Homepage{%endblock%}

{% block body%}

{%load static%}
<div class="conatiner">
         {{status}}
    <div class="row">
        <div class="col-md-12 col-xl-12 col-lg-12">
            <h1>Welcome User:{{name}}</h1>
        </div>
    </div>
</div>
<div class="conatiner">
    <div class="row">
        <div class="col-md-6 col-xl-6 col-lg-6">
            <a>
            <img src="{% static 'user/image1.jpg' %}" width="50%" >
           <a href="show_event"> <p>Show All Events</p></a>
            </a>
        </div>
        <div class="col-md-6 col-xl-6 col-lg-6">
            <a href="ground_booking">
            <img src="{% static 'user/image2.jpg' %}" width="50%">
                <p>Book Ground</p>
            </a>
        </div>
    </div>
</div>


{% endblock%}

</html>